::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
body{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 65px;
  background: #23252C;
}
.flex--container{
  width: 50vw;
  margin-top: 60px;
  margin-left: 280px;

}

.container--left{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #1A1B21;
  width: 300px;
  height: 600px;
  margin: 10px;
 
  display: inline-block;

}
/* ? Applying a Profile Picture */
.profile--picture{
  display: block;
  background:#23252C url(../src/img/foto.jpg) no-repeat ;
  background-size: cover;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

/* ? Info profile  */
.info--profile{
  color: white;
  text-align: center;
  line-height: 1%;
}