@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
::-webkit-scrollbar{

  width: 0px;
  height: 0px;
}
*{
  font-family: 'Inter', sans-serif;
}
body{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 65px;
  background: #23252C;
}
.flex--container{
  width: 50vw;
  margin-top: 60px;
  margin-left: 280px;

}

.container--left{
  border: 0px solid black;
  border-radius: 10px;
  background-color: #1A1B21;
  width: 300px;
  height: 600px;
  margin: 10px;
 
  display: inline-block;

}
/* ? Applying a Profile Picture */
.profile--picture{
  display: block;
  background:#23252C url(../src/img/foto.jpg) no-repeat ;
  background-size: cover;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

/* ? Info profile  */
.info--profile{
  color: white;
  text-align: center;
  line-height: 1%;
}

.job{
  color:#F3BF99 ;
}
/* ? Buttons  */

.btn-group{
  margin: 10% 10% 10% 16%;
}
.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right: 10px;
}





